@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);

body {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    margin-top:0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
	font-family: 'Lily Script One', cursive;
}

.heading img {
    height: 150px;
    width: 150px;
    margin-left: 25px;
}
#search_box {
    width: 75%;
    display: inline-block;
    border-top-right-radius: 0px;
    margin: 0px!important;
    border-bottom-right-radius: 0px;
}

.btn-success {
    margin: 0px!important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

canvas {
    border-radius: 25px;
    border: black 3px solid;
    background-color:bisque;
}